<!DOCTYPE html>
<html>
    <head>
        <title>Minotaur one-to-one chat example</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="noindex,nofollow" />
		<link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <div id="container">
			<script id="tmpl-li-user" type="text/x-jquery-tmpl">
				{{if isListed}}
					<li id="a-${id}" class="${status}">${name}</li>
				{{else}}
					<li id="o-${id}" class="${status}">${name}</li>
				{{/if}}
			</script>
			
			<script id="tmpl-message" type="text/x-jquery-tmpl">
				{{if me}}
					<div class="msg-me">
						<span class="name">me: </span>
						${content}
					</div>
				{{else}}
					<div class="msg">
						<span class="name">${name}: </span>
						${content}
					</div>
				{{/if}}
			</script>
		
			<div id="area-name">
				<b>My name is:</b> 
				<input type="text" autocomplete="off" id="text-name" style="width: 300px;" />
				<input type="submit" value="Set my name" id="button-name" />
			</div>
			<div id="area-chat">
				<div id="area-online">
					<div class="title">All users</div>
					<ul id="list-online"></ul>
				</div>
				<div id="area-active">
					<div id="area-history">
						<div id="active-actor">empty</div>
						<input type="hidden" value="0" id="hidden-actor" />
						<div id="history">
						</div>
					</div>
					<div id="area-controls">
						<!--<input type="text" autocomplete="off" id="text-send" />-->
						<textarea id="text-send" rows="3" cols="20"></textarea>
						<!--<input type="submit" value="Send" id="button-send" />-->
					</div>
				</div>
				<div id="area-actors">
					<div class="title">Chatters</div>
					<ul id="list-actors"></ul>
				</div>
			</div>
			<div id="debug">
			</div>
		</div>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
		<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript"></script>
		<script src="minitaur.js" type="text/javascript"></script>
		<script src="cint.js" type="text/javascript"></script>
		<script src="client.js" type="text/javascript"></script>
    </body>
</html>