i { background: red; }
ul { font-size: 10px; list-style: none; margin: 0px; padding: 0px; }
body { background: white; font-family: Verdana, Arial; font-size: 12px; margin: 20px 0 0 0; padding: 0; }
#container { margin: 0px auto; position: relative; width: 990px; }
#area-name { margin: 0 0 20px 0; }
#area-chat { /*background: red;*/ overflow: hidden; }

#area-online { border: 1px solid black; height: 500px; float: left; overflow: auto; width: 270px; }
.title { background: #f4b82c; font-weight: bold; line-height: 24px; text-indent: 4px; width: 100%; }

#area-active { border-top: 1px solid black; border-bottom: 1px solid black; height: 500px; float: left; width: 446px; }
#active-actor { background: #fbdb7b; line-height: 24px; text-align: center; text-indent: 4px; width: 100%; }
#area-history { }

#area-controls { border-top: 1px solid black; width: 100%; }
/*#history { height: 449px; overflow: auto; overflow-y: scroll; }*/
#history { height: 415px; overflow: auto; overflow-y: scroll; }
#text-send { border: 0px none; outline: none; padding: 4px 4px 0 4px; width: 370px; }

#area-actors { border: 1px solid black; height: 500px; float: right; overflow: auto; width: 270px; }

ul {}
ul li { line-height: 16px; text-indent: 20px; width: 100%; }
ul li.online { background: transparent url('/bullet_green.png') no-repeat 0 50%; }
ul li.offline { background: transparent url('/bullet_red.png') no-repeat 0 50%; }
ul li.active { color: green; }
ul li.unread { color: red; }
ul li:hover { color: blue; cursor: pointer; }

.name { font-weight: bold; padding: 0 0 4px 0; }
.msg { padding: 4px 8px; width: 413px; word-wrap: break-word; }
.msg-me { background: #fbf2d9; padding: 4px 8px; width: 413px; word-wrap: break-word; }
